* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
}

.nav_bar {
    height: 80px;
    width: 100%;
    background-color: #34495e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    color: white;
}

#list_items {
    display: flex;
}

#list_items p {
    margin: 0px 10px;
}

#list_items p a {
    text-decoration: none;
    color: white;
}

.mobile_menu {
    display: none;
    cursor: pointer;
}


/* @media (min-width: 992px) and (max-width : 1200px){

} */
@media (max-width : 769px) {
    #list_items {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: 0px;
        /* left: -100px; */
        background-color: rgb(54, 123, 123);
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
        transition: 2s ease-in-out;
    }



    #list_items p {
        line-height: 50px;
    }

    .mobile_menu {
        display: flex;
    }

}