.mystyle {
    background-color: aqua;
    height: 200px;
}

  @media (max-width : 769px) {
    .mystyle {
        width: 100%;
        padding: 25px;
        background-color: coral;
        color: white;
        font-size: 25px;
        box-sizing: border-box;
      }
  }